
/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

/* The default font-size, if no @media query is in action */

:root{
	/* --font-family-1: Geneva, Tahoma, sans-serif; */
	--font-family-1: EB Garamond, Tahoma, sans-serif;
}



h1 {
	font-size:30px;
	/* font-weight: bold; */
	font-family: "EB Garamond", serif;
	color: rgba(255, 0, 93, 0.936);
}
h2 {
	font-size: 20px; 
	font-family: 'Gill Sans', sans-serif;
	color: rgba(255, 0, 93, 0.936);
}
h3 {
	font-size: 18px;
	font-family: 'Gill Sans', sans-serif;
}

/*--------------------------------------------------------------
Making a lot of alternative font types
--------------------------------------------------------------*/
/*--------------------------------------------------------------
Making a lot of alternative font types
--------------------------------------------------------------*/
h1{
	font-family: Vollkorn,serif;
}
h2{
	font-family: Open sans, sans-serif;
}


/* Text-align, margin and padding */
h1,
h2,
h3,
.twin p {
	text-align: center;
	margin: 0;
	padding: 1em 0;
}

p {
	/* margin: 0; */
	/* padding: 1em 0; */
	/* padding: 0; */
	margin-bottom: 1em;
}
p.quotation{
	font-style: italic;
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.text-indent{
	text-indent: 50px;
}


.color-example-heading{
	color: var(--color-text-decor-examples-heading);
}

li.list-numbered{
	padding-bottom: 15px;
}