
/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

/* The default font-size, if no @media query is in action */

:root{
	/* --font-family-1: Geneva, Tahoma, sans-serif; */
	--font-family-1: EB Garamond, Tahoma, sans-serif;
}



h1 {
	font-size:30px;
	font-weight: bold;
	font-family: "EB Garamond", serif;
	color: rgba(255, 0, 93, 0.936);
}
h2 {
	font-size: 20px; 
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	color: rgba(255, 0, 93, 0.936);
}

h3 {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

/*--------------------------------------------------------------
Making a lot of alternative font types
--------------------------------------------------------------*/
/*--------------------------------------------------------------
- 1 - Vollkorn + Open Sans
--------------------------------------------------------------*/
/* h1{
	font-family: "Vollkorn",serif;
}
h2{
	font-family: "Open sans", sans-serif;
} */

/*--------------------------------------------------------------
- 2 - Montserrat + EB Garamond
--------------------------------------------------------------*/
/* h1{
	font-family: "Montserrat",serif;
}
h2{
	font-family: "EB Garamond", sans-serif;
} */

/*--------------------------------------------------------------
- 3 - Libre Baskerville + Raleway
--------------------------------------------------------------*/
/* h1{
	font-family: "Libre Baskerville",serif;
}
h2{
	font-family: "Raleway", sans-serif;
} */

/*--------------------------------------------------------------
- 4 - Open Sans + Lato
--------------------------------------------------------------*/
/* h1{
	font-family: "Open Sans",serif;
}
h2{
	font-family: "Lato", sans-serif;
} */

/*--------------------------------------------------------------
- 5 - Bubblegum Sans + Open Sans
--------------------------------------------------------------*/
/* h1{
	font-family: "Bubblegum Sans",sans serif;
}
h2{
	font-family: "Open Sans", sans-serif;
} */

/*--------------------------------------------------------------
- 6 - Poirot One + Lato
--------------------------------------------------------------*/
/* h1{
	font-family: "Poirot One",sans serif;
}
h2{
	font-family: "Lato", sans-serif;
} */


/*--------------------------------------------------------------
- 7 - IBM Plex Mono + PT Sans
--------------------------------------------------------------*/
/* h1{
	font-family: "IBM Plex Mono",sans serif;
}
h2{
	font-family: "PT Sans", sans-serif;
} */


/*--------------------------------------------------------------
- 8 - Roboto Mono + Roboto
--------------------------------------------------------------*/
/* h1{
	font-family: "Roboto Mono",sans serif;
}
h2{
	font-family: "Roboto", sans-serif;
} */




/* Text-align, margin and padding */
h1,
h2,
h3,
.twin p {
	text-align: center;
	margin: 0;
	padding: 1em 0;
}

p {
	/* margin: 0; */
	/* padding: 1em 0; */
	/* padding: 0; */
	margin-bottom: 1em;
}
p.quotation{
	font-style: italic;
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.text-indent{
	text-indent: 50px;
}


.color-example-heading{
	color: var(--color-text-decor-examples-heading);
}

li.list-numbered{
	padding-bottom: 15px;
}